<% if (theme.gitment){ %>
    <% if (post.gitment){ %>
        <section class="comments" id="comments">
            <div id="gitment_thread"></div>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitment@0.0.3/style/default.css">
            <script src="https://cdn.jsdelivr.net/npm/gitment@0.0.3/dist/gitment.browser.js"></script>
            <script>
                var gitment = new Gitment({
                    id: '<%- post.key %>',
                    owner: '<%- theme.gitment.owner %>',
                    repo: '<%- theme.gitment.repo %>',
                    oauth: {
                        client_id: '<%- theme.gitment.client_id %>',
                        client_secret: '<%- theme.gitment.client_secret %>',
                    },
                    /*
                    Personal GitHub APP “Gitment”
                    https://github.com/settings/connections/applications/f9499ece3391318f822c
                    The “client_secret” is only be used for OAuth！（貌似明文放出也无关紧要？
                    */
                })
                gitment.render('comments')
            </script>
    </section>
    <% } %>
<% } %>