<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <% if(theme.canonical){ %>
    <link rel="canonical" href="<%- (theme.canonical + url_for(page.path)).replace(/index\.html$/, '') %>">
    <% }%>
    <%
        var title = page.title;

        if (is_archive()){
            title = theme.archives_title || 'Archives';

            if (is_month()){
            title += ': ' + page.year + '/' + page.month;
            } else if (is_year()){
            title += ': ' + page.year;
            }
        } else if (is_category()){
            title = (theme.categories_title || 'Categories') + ': ' + page.category;
        } else if (is_tag()){
            title = (theme.tags_title || 'Tags') + ': ' + page.tag;
        }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %><% if (config.subtitle){ %> | <%= config.subtitle %><% } %></title>
    <%
        var keyWords = config.keywords;
        if(page.tags){
        keyWords = [];

        _.isArray(page.tags) ? ( keyWords = page.tags )
            : page.tags.each(function(k){
                keyWords.push(k.name);
            });
    }
    %>
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
    <meta name="author" content="yuangezhizao"/>
    <meta name="Copyright" content="Copyright yuangezhizao All Rights Reserved."/>    
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <meta name="format-detection" content="telephone=no"/>    
    <% if(theme.color){ %>
    <meta name="theme-color" content="<%=theme.color%>">
    <% } %>  
    <link rel="stylesheet" href="<%- url_for(theme_css('/css/style', cache)) %>">
    <% if ((config.feed) && (config.feed.path.length)) { %>
        <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <link rel="dns-prefetch" href="//lab.yuangezhizao.cn">
    <link rel="dns-prefetch" href="//www.yuangezhizao.cn">    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>window.lazyScripts=[]</script>
<!--
    <style>
    BODY{cursor:url('https://i1.yuangezhizao.cn/cursor/1.cur!raw'), url(https://i1.yuangezhizao.cn/cursor/1.cur!raw), auto;}
    A {CURSOR: url('https://i1.yuangezhizao.cn/cursor/2.cur!raw'), url(https://i1.yuangezhizao.cn/cursor/2.cur!raw), auto;}
    </style>
-->
    <!-- custom head -->
    <% if (site.data.head) { %>
        <% for (var i in site.data.head) { %>
            <%- site.data.head[i] %>
        <% } %>
    <% } %>
<!--
    <style type="text/css">
        html {
        FILTER: gray;
        -webkit-filter: grayscale(100%);
        }
    </style>
-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-22HCD9N871"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-22HCD9N871');

        var _hmt = _hmt || [];
    </script>
    <script data-ad-client="ca-pub-5284803131856994" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
